  <style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>
  
<h4 text-align = center> Anthony D'souza </h4>
